.co-card{
    min-width: 0;
    height: 170px;
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    border-radius: .75rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
    background-color: #fff;
    color: #000;
}

.co-card:focus {
    outline: 2px solid #700cd7;
    outline-offset: 6px;
}

.co-card_content {
    padding-right: 1rem;
    padding-left: 1.25rem;
    flex-direction: column;
    display: flex;
}

.co-card_logo {
    margin-top: .75rem;
    height: auto;
    max-height: 48px;
    width: 100%;
    max-width: 110px;
    background: #fff;
    justify-content: center;
    overflow: hidden;
}

.co-card_text {
    line-height: 1.25;
    font-weight: 600;
    font-size: .875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.co-card_cta {
    text-underline-offset: 4px;
    text-decoration-line: underline;
    letter-spacing: .1em;
    text-transform: uppercase;
    font-size: .75rem;
    line-height: 1rem;
    margin: 0;
}

.rounded-xl {
    border-radius: .75rem;
    overflow: hidden;
    justify-content: flex-end;
    flex-shrink: 0;
    height: 100%;
    display: flex;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.co-card_image {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
}
