@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Archivo+Black&family=Bangers&family=Belanosima:wght@400;600;700&family=Boldonse&family=Bowlby+One&family=Cagliostro&family=Candal&family=Caprasimo&family=Cherry+Swash:wght@400;700&family=Chicle&family=Climate+Crisis&family=Emblema+One&family=Gasoek+One&family=Julius+Sans+One&family=Major+Mono+Display&family=Megrim&family=Modak&family=Oi&family=Rammetto+One&family=Rubik+Vinyl&family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Slackside+One&family=Spicy+Rice&family=TASA+Explorer:wght@400..800&family=Tajawal:wght@200;300;400;500;700;800;900&family=Tilt+Warp&family=Viga&family=Zilla+Slab+Highlight:wght@400;700&display=swap');


:root {
  --background: #ffffff;
  --foreground: #0f041c;
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 1rem;   /* 16px */
  --space-md: 2.5rem;   /* 32px */
  --space-lg: 3.5rem;   /* 48px */
}


html { font-size: 16px; }

html,
body {
  max-width: 100vw;
  position: relative;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-outlined.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-sharp {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

.material-symbols-sharp.filled {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
