.breadcrumbs {
  font-family: 'Open Sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 0.9rem;
  margin: 0;
  padding: 0.5rem 0;
}

[dir="rtl"] .breadcrumbs,
[lang="ar"] .breadcrumbs {
  font-family: 'Alexandria', 'Open Sans', Arial, sans-serif;
}

.breadcrumbs ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.breadcrumbs li {
  display: flex;
  align-items: center;
}

.breadcrumbs li::after {
  content: ">";
  margin: 0 5px;
  color: #170f20;
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs li a {
  text-decoration: none;
  color: #0f041c;
  transition: color 0.2s ease;
  font-weight: normal;
  position: relative;
}

.breadcrumbs li a:hover {
  color: #6321d4;
}

.breadcrumbs li a::after {
  content: '';
  width: 100%;
  height: 1.5px;
  display: block;
  background: #6321d4;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transform: scaleX(0);
  transition: all 0.2s ease-out;
  
}

.breadcrumbs li a:hover::after{
  transform-origin: left;
  transform: scaleX(1);
  opacity: 1;
}

.breadcrumbs li.active {
  font-weight: bold;
  font-style: normal;
  color: #6321d4;
}
